.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
    padding: .25em;
    font-size: .8rem;
    &__items{
        background: rgb(228, 228, 228);
        padding: 0.25em 0.75em;
        border-radius: 5px;
        text-decoration: none;
    }
}