// @import url(./waves.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

// >> #DEBUG: FOR TESTING DIVS AND STUFF
// $alpha : 0;
// $alpha : 1;
// $dark: 25%;
// $medium : 50%;
// $light: 75%;

// https://css-tricks.com/conditional-media-query-mixins/
@mixin bp($point) {
  @if $point == tablet {
    @media (min-width: 550px) {
      @content;
    }
  }
  @if $point == desktop {
    @media (min-width: 880px) {
      @content;
    }
  }
}

* {
  font-family: "Montserrat";
  // color: #fff;
}
body,
html {
  font-size: 18px; // using rem, em units for responsiveness and easier maintenance
  margin: 0; // if not used, then the default margins of body add a scrolling bar to the container when height is 100vh
  padding: 0;
}
#disclaimer {
  margin: 0;
  padding: 0;
  font-size: 0.5rem;
}
.container {
  // >> IN CASE I WANT TO ADD A GRADIENT TO THE BACKGROUND AND MAKE FONT WHITE-ish
  // background-image: url(../assets/bg-left.png), url(../assets/bg-right.png), linear-gradient(to bottom, gray, white);
  // background-size: 50vw, 50vw, 100%;

  @include bp(tablet) {
    background-size: 40vh, 40vh;
  }
  @include bp(desktop) {
    .about-me {
      grid-area: about;
      padding-top: 20vh;
    }
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "sidebarl about sidebarr";
  }
  .sidebarleft,
  .sidebarright {
    display: none;
    z-index: -1;
    padding: 0;
    margin: 0;
  }
  .sidebarleft {
    @include bp(desktop) {
      grid-area: sidebarl;
      display: block;
      // width: 30%;
      height: 100%;
      background-color: #000;
    }
  }
  .sidebarright {
    @include bp(desktop) {
      grid-area: sidebarr;
      display: block;
      // width: 30%;
      // height: 100%;
      background-color: #000;
    }
  }
  background-image: url(../assets/bg-left.png), url(../assets/bg-right.png);
  background-size: 50vw, 50vw;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom left, bottom right;
  padding: 0.2em 1em;
  height: 100vh;
  // >> DEBUG
  // background-color: hsla(120,100%,$dark,$alpha);

  .about-me {
    font-size: 1.4rem;
    width: 100%;
    &__span--animate {
      // animation: topToBottom 12.5s linear infinite 0s;
      animation: topToBottom 0.5s linear infinite 0s;
      color: #00abe9;
      opacity: 0;
      overflow: hidden;
      position: absolute;

      display: block;
      text-align: center;
      &:nth-child(2) {
        animation-delay: 2.5s;
        -ms-animation-delay: 2.5s;
        -webkit-animation-delay: 2.5s;
      }
      &:nth-child(3) {
        animation-delay: 5s;
        -ms-animation-delay: 5s;
        -webkit-animation-delay: 5s;
      }
      &:nth-child(4) {
        animation-delay: 7.5s;
        -ms-animation-delay: 7.5s;
        -webkit-animation-delay: 7.5s;
      }
      &:nth-child(5) {
        animation-delay: 10s;
        -ms-animation-delay: 10s;
        -webkit-animation-delay: 10s;
      }
    }
    p {
      margin: 0;
      padding: 0.5em 0;
    }
    // >> DEBUG
    // p:nth-child(odd){
    //    background-color: hsla(20,100%,$light,$alpha);
    // }
    // p:nth-child(even){
    //    background-color: hsla(120,100%,$medium,$alpha); // green
    // }

    h1 {
      font-family: "Bangers", cursive;
      font-size: 5rem;
      // background-color: rgba(145, 247, 2, $alpha);
      margin: 0;
    }
    @include bp(tablet) {
      text-align: center;
      font-size: m#{a}x(1.5em, 3vw);
    }
    @include bp(desktop) {
      font-size: m#{a}x(1.5em, 2vw);
    }
  }

  #socialmedia {
    // >> DEBUG
    // background-color: hsla(120,100%,$light,$alpha);
    a {
      img {
        margin: 0.2em 0.5em;
        width: 3rem;
      }
      img:first-child {
        margin-left: 0;
      }
    }
  }
}
.dark-mode {
  filter: invert(100%);
  // filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
@keyframes topToBottom {
  0% {
    opacity: 0;
    display: block;
  }
  5% {
    opacity: 0;
    transform: translateY(-25px);
    display: block;
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
    display: block;
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
    display: block;
  }
  30% {
    opacity: 0;
    transform: translateY(25px);
    display: block;
  }
  80% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 0;
    display: block;
  }
}
//

/* Block component */
// .btn {}

// /* Element that depends upon the block */
// .btn__price {}

// /* Modifier that changes the style of the block */
// .btn--orange {}
// .btn--big {}
//
