* {
    font-family: "Montserrat";
    // color: #fff;
  }
  .container {
    // background: #000;
    // color: white;
    margin: 0.5rem 0;
    padding: .2rem .5rem;
      &--links{
          height: fit-content;
          margin: auto;
          max-width: 700px;
      }
  }
  
  .page-title{
      font-size: 1.75rem;
      &--secondary{
          font-size: 1.25rem;
      }
  }
//   .external-links{
//       &__code{
//           font-size: .8rem;
//           font-weight: 600;
//           margin: .25em 0;
//       }
//       &__info{
//           font-size: .8rem;
//           margin-top: .25em;
//       }
//   }
  .list{
    padding-left: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    &__link{
        text-decoration: none;
        &:hover{
        text-decoration: underline;
        }
    }
    &__info{
      font-size: .8rem;
      margin-top: .5em;
    }
  }