* {
  font-family: "Montserrat";
  // color: #fff;
}
.container {
  margin: 0.5rem 0;
  padding: .2rem .5rem;
    &--referral{
        height: fit-content;
        margin: auto;
        max-width: 700px;
    }
}

.page-title{
    font-size: 1.75rem;
    &--secondary{
        font-size: 1.25rem;
    }
}
.external-links{
    &__code{
        font-size: .8rem;
        font-weight: 600;
        margin: .25em 0;
    }
    &__info{
        font-size: .8rem;
        margin-top: .25em;
    }
}
.external-links{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: .5em;
    &__list{
      padding-left: 1.2em;
      &--item{
        list-style: lower-roman;
      }
    }
    &__links{
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  