// THE BELOW CODE TILL @Keyframe Wiggle is inspired from the original post on INSTAGRAM by SPARSH.CODES
// ACCOUNT: https://www.instagram.com/sparsh.codes/
// URL: https://www.instagram.com/p/CAFw887gpHF/

@mixin boilerplate {
  top: 52vh;
  content: "";
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  animation-iteration-count: infinite;
  z-index: -1;
}
@mixin bp($point) {
  @if $point == tablet {
    @media (min-width: 550px) {
      @content;
    }
  }
  @if $point == desktop {
    @media (min-width: 880px) {
      @content;
    }
  }
}

@keyframes wiggle {
  from {
    /* top: 120px; */
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    /* top: -10px; */
    transform: translateX(-50%) rotate(360deg);
  }
}
.container {
  // .about-me {  //as long as the importing file has a container class and a body tag, all three waves should work
  // SUGGESTION: it would be awesome if i could tell how many waves I want
  &::after {
    width: 150vw;
    height: 150vw;
    border-radius: 35vh;
    background-color: rgba(255, 78, 15, 0.2);
    animation: wiggle 5s ease-in alternate-reverse;
    @include boilerplate;
    @include bp(tablet) {
      top: 60vh;
      border-radius: 80vh;
      width: 200vw;
      height: 180vw;
    }
    @include bp(desktop) {
      top: 70vh;
      border-radius: 105vw;
      width: 250vw;
      height: 250vw;
    }
  }
  &::before {
    width: 180vw;
    height: 180vw;
    border-radius: 40vh;
    background-color: rgba(1, 255, 15, 0.2);
    animation: wiggle 9s ease-in alternate-reverse;
    @include boilerplate;
    @include bp(tablet) {
      top: 60vh;
      border-radius: 80vh;
      width: 200vw;
      height: 180vw;
    }
    @include bp(desktop) {
      top: 70vh;
      border-radius: 105vw;
      width: 250vw;
      height: 250vw;
    }
  }
}
body::before {
  width: 130vh;
  height: 130vh;
  border-radius: 55vh;
  background-color: rgba(45, 15, 83, 0.2);
  animation: wiggle 7s ease-in alternate;
  @include boilerplate;
  @include bp(tablet) {
    top: 60vh;
    border-radius: 85vh;
    width: 220vw;
    height: 200vw;
  }
  @include bp(desktop) {
    top: 70vh;
    border-radius: 105vw;
    width: 250vw;
    height: 250vw;
  }
}
